{# JBBundle/Resources/views/Default/about.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}
{% block body %}
<br>
<div class="well col-sm-10">
    <h2>Jack&Bab</h2>
    <p>Jack&Bab est un projet réalisé par des étudiants de l'Ensibs dans le cadre de la formation Informatique de confiance.</p>
</div>
<div class="well col-sm-10">
    <h2>Notre groupe</h2>
    <p>Nous sommes 4 étudiants de la filière Cybersécurité : Informatique de Confiance de l'ENSIBS.</p>
    <label>Matthieu Jan</label>
    <br>
    <label>Félix Bezançon</label>
    <br>
    <label>Rémi Freret</label>
    <br>
    <label>Oussama Barhdadi</label>
    <!-- <ul>
        <li>Matthieu Jan</li>
        <li>Félix Bezançon</li>
        <li>Remi Freret</li>
        <li>Oussama Barhdadi</li>
    </ul> -->
</div>
{% endblock %}
