{# JBBundle/Resources/views/Default/about.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}
<div class="blog-div">
    <h2>Jack&Bab</h2>
    <p>Jack&Bab est un projet réalisé par des étudiants de l'Ensibs dans le cadre de la formation Informatique de confiance.</p>
</div>
<div class="blog-div">
    <h2>Le groupe</h2>
    <p>Nous sommes 4 étudiants de la filière Informatique de Confiance de l'ENSIBS.</p>
    <ul>
        <li>Matthieu Jan</li>
        <li>Félix Bezançon</li>
        <li>Remi Freret</li>
        <li>Oussama Barhdadi</li>
    </ul>
</div>
{% endblock %}
