{# JBBundle/Resources/views/Default/connexion.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}

<form class="form-signin" action="{{ path('jb_connexionVerif') }}" method="post">
      <h2 class="form-signin-heading">Connection</h2>
      <label for="inputEmail" class="sr-only">Adresse Email</label>
      <input type="email" name="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
      {% if email is defined %}
        <div class="alert alert-danger">Adresse email incorrecte</div>
      {% endif %}
      {% if mdp is defined %}
      <div class="alert alert-danger">Mot de passe incorrect</div>
      {% endif %}
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Connection" >Se connecter</button>
      Pas de compte ? <a href="registration">S'inscrire</a>
</form>

<style media="screen">
.form-signin input[type="email"] {
 margin-bottom: -1px;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
 margin-bottom: 10px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}
</style>
{% endblock %}
