{# JBBundle/Resources/views/Default/contact.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}
<h1>Contactez nous</h1>
<p>Vous pouvez à tout moment nous contacter sur l'adresse : null@pasfait.zut</p>
{% endblock %}
