{# JBBundle/Resources/views/Default/connexion.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}
</br>
  <div class="well">
    <h3>Gestion des employés :</h3>

    {% for message in app.session.flashbag.get('modif') %}
    {{ message }}
    {% endfor %}
    <form class="" action="{{ path('jb_employee') }}" method="post">
      <input type="text" name="email"  placeholder="Email de l'utilisateur" class="form-control form1" value= {{ email }}>
      <input type="text" name="rights" placeholder="Droit" class="form-control form3">
      <input type="submit" value="Envoyer" class="btn btn-block btn-lg btn-primary"/>
    </form>
  </div>


  <style media="screen">
    .well{
      margin: auto;
      width: 300px;
    }
    .form1 {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form2 {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .form3 {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
  {% endblock %}
