{# JBBundle/Resources/views/Default/payment.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}
<h3>Récapitulatif de commande</h3>
Your name is {{commande.firstName}} {{commande.lastName}}
Votre mail est {{commande.email}} et vous avez la commande numéro {{commande.id}}
{% endblock %}
