{# JBBundle/Resources/views/Default/shop.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}

    <div class="col-sm-8 text-left">
      <h1>Le fameux shop</h1>
    </div>
    
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Le fameux panier</p>
      </div>
    </div>


{% endblock %}
