{# JBBundle/Resources/views/Default/shop.html.twig #}
{% extends 'JBBundle:Default:index.html.twig' %}

{% block body %}

    <div class="col-sm-10 text-left">
      <h1>Le fameux shop</h1>

      {% for produit in produits %}
        <div class="produit container-fluid col-sm-5">
          <div class="col-sm-3">
            <img src="{{ asset('JackBab.png')}}" alt="Jack&Bab" class="itemIcone"/>
          </div>
          <div class="col-sm-9">
            <div>{{ produit.name }}</div>
            <div>{{ produit.description }}</div>
            <div>Prix : {{ produit.price }}€</div>
            <div><button type="button" name="button">Add</button></div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Le fameux panier</p>
      </div>
    </div>

{% endblock %}
